# Get these values by following these instructions: https://osu.ppy.sh/docs/index.html#registering-an-oauth-application
OSU_API_CLIENT_ID=
OSU_API_CLIENT_SECRET=

# Optional. If deploying to a service that uses shared IP addresses (e.g. Cloudflare Workers),
# you may be rate-limited by other people's osu API requests which can be avoided by using a proxy with a dedicated IP address.
OSU_API_PROXY_URL=
OSU_API_PROXY_KEY=

# Ratelimit
TRUST_CF_CONNECTING_IP=true # Set to false if not behind Cloudflare