@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Varela Round", system-ui, sans-serif;
}

@layer base {
  :root {
    /* Hue is overridden in settings store */
    --hue: 212;

    --gradient: #72c6ef;

    --background: var(--hue) 52% 5.52%;
    --foreground: var(--hue) 8% 98.45%;

    --muted: var(--hue) 40% 20.7%;
    --muted-foreground: var(--hue) 8% 56.9%;

    --popover: var(--hue) 49% 8.969999999999999%;
    --popover-foreground: var(--hue) 8% 98.45%;

    --card: var(--hue) 49% 8.969999999999999%;
    --card-foreground: var(--hue) 8% 98.45%;

    --border: var(--hue) 40% 20.7%;
    --input: var(--hue) 40% 20.7%;

    --primary: var(--hue) 80% 69%;
    --primary-foreground: var(--hue) 8% 6.8999999999999995%;

    --secondary: var(--hue) 40% 20.7%;
    --secondary-foreground: var(--hue) 8% 98.45%;

    --accent: var(--hue) 40% 20.7%;
    --accent-foreground: var(--hue) 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--hue) 8% 98.45%;

    --ring: var(--hue) 80% 69%;
    --radius: 0.5rem;

    --judgement-perfect: 190 100% 80%;
    --judgement-great: 200 100% 70%;
    --judgement-good: 75 66% 56%;
    --judgement-ok: 74 100% 35%;
    --judgement-meh: 46 100% 57%;
    --judgement-miss: 356 83% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body,
  body::backdrop {
    @apply bg-background text-foreground;
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-sparkle {
  animation: sparkle 2s ease-in-out infinite;
}
