@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@theme {
  --color-judgement-perfect: hsl(var(--judgement-perfect));
  --color-judgement-great: hsl(var(--judgement-great));
  --color-judgement-good: hsl(var(--judgement-good));
  --color-judgement-ok: hsl(var(--judgement-ok));
  --color-judgement-meh: hsl(var(--judgement-meh));
  --color-judgement-miss: hsl(var(--judgement-miss));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    /* Hue is overridden in settings store */
    --hue: 212;

    --gradient: #72c6ef;

    --background: var(--hue) 52% 5.52%;
    --foreground: var(--hue) 8% 98.45%;

    --muted: var(--hue) 40% 20.7%;
    --muted-foreground: var(--hue) 8% 56.9%;

    --popover: var(--hue) 49% 8.969999999999999%;
    --popover-foreground: var(--hue) 8% 98.45%;

    --card: var(--hue) 49% 8.969999999999999%;
    --card-foreground: var(--hue) 8% 98.45%;

    --border: var(--hue) 40% 20.7%;
    --input: var(--hue) 40% 20.7%;

    --primary: var(--hue) 80% 69%;
    --primary-foreground: var(--hue) 8% 6.8999999999999995%;

    --secondary: var(--hue) 40% 20.7%;
    --secondary-foreground: var(--hue) 8% 98.45%;

    --accent: var(--hue) 40% 20.7%;
    --accent-foreground: var(--hue) 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--hue) 8% 98.45%;

    --ring: var(--hue) 80% 69%;
    --radius: 0.5rem;

    --judgement-perfect: 190 100% 80%;
    --judgement-great: 200 100% 70%;
    --judgement-good: 75 66% 56%;
    --judgement-ok: 74 100% 35%;
    --judgement-meh: 46 100% 57%;
    --judgement-miss: 356 83% 44%;
  }

  * {
    @apply border-border;
  }

  html,
  body {
    font-family: "Varela Round", system-ui, sans-serif;
  }

  body,
  body::backdrop {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-sparkle {
  animation: sparkle 2s ease-in-out infinite;
}
