@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #72c6ef;

    --background: 212 52% 5.52%;
    --foreground: 212 8% 98.45%;

    --muted: 212 40% 20.7%;
    --muted-foreground: 212 8% 56.9%;

    --popover: 212 49% 8.969999999999999%;
    --popover-foreground: 212 8% 98.45%;

    --card: 212 49% 8.969999999999999%;
    --card-foreground: 212 8% 98.45%;

    --border: 212 40% 20.7%;
    --input: 212 40% 20.7%;

    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 6.8999999999999995%;

    --secondary: 212 40% 20.7%;
    --secondary-foreground: 212 8% 98.45%;

    --accent: 212 40% 20.7%;
    --accent-foreground: 212 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 212 8% 98.45%;

    --ring: 212 80% 69%;
    --radius: 0.5rem;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --judgement-perfect: 190 100% 80%;
    --judgement-great: 200 100% 70%;
    --judgement-good: 75 66% 56%;
    --judgement-ok: 74 100% 35%;
    --judgement-meh: 46 100% 57%;
    --judgement-miss: 356 83% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body,
  body::backdrop {
    @apply bg-background text-foreground;
  }
}
