@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-black
} */

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #72C6EF;

    --background: 212 52% 5.52%;
    --foreground: 212 8% 98.45%;

    --muted: 212 40% 20.7%;
    --muted-foreground: 212 8% 56.9%;

    --popover: 212 49% 8.969999999999999%;
    --popover-foreground: 212 8% 98.45%;

    --card: 212 49% 8.969999999999999%;
    --card-foreground: 212 8% 98.45%;

    --border: 212 40% 20.7%;
    --input: 212 40% 20.7%;

    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 6.8999999999999995%;

    --secondary: 212 40% 20.7%;
    --secondary-foreground: 212 8% 98.45%;

    --accent: 212 40% 20.7%;
    --accent-foreground: 212 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 212 8% 98.45%;

    --ring: 212 80% 69%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body,
  body::backdrop {
    @apply bg-background text-foreground;
  }
}